.login-field-container {
  width: 526px;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: rgba(56, 56, 56, 0.83);
  border-style: solid;
  border-width: 4px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(22, 22, 22, 0.95);
}
.login-field-text {
  color: rgb(189, 228, 32);
  padding-top: var(--dl-space-space-unit);
}
.login-field-text1 {
  color: #c8c6c6;
  font-size: 24px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fourunits);
}
.login-field-textinput {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
}
.login-field-text4 {
  color: #c8c6c6;
  font-size: 24px;
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
}
.login-field-image {
  top: 120px;
  right: -16px;
  width: 200px;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}
.login-field-textinput1 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
}
.login-field-text5 {
  color: #c8c6c6;
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
}
.login-field-register {
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  background-color: #bde420;
}
.login-field-root-class-name {
  align-self: center;
}
