.navigationbar-container {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigationbar-navlink {
  top: 2px;
  left: 350px;
  position: absolute;
  align-self: flex-start;
  text-decoration: none;
  background-color: rgb(189, 228, 32);
}
.navigationbar-navlink1 {
  right: 350px;
  bottom: 1px;
  position: absolute;
  align-self: flex-end;
  text-decoration: none;
  background-color: rgb(189, 228, 32);
}

