.navigationbar-container {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigationbar-navlink {
  top: 2px;
  left: 350px;
  position: absolute;
  align-self: flex-start;
  text-decoration: none;
  background-color: rgb(189, 228, 32);
}
.navigationbar-navlink1 {
  right: 350px;
  bottom: 1px;
  position: absolute;
  align-self: flex-end;
  text-decoration: none;
  background-color: rgb(189, 228, 32);
}


.username-container {
  width: 100%;
  height: 65px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.username-hero-heading {
  color: #16af04;
  font-size: 48px;
  max-width: 800px;
  text-align: center;
  font-family: "Fira Sans";
  font-weight: 700;
  line-height: 150%;
}
.username-root-class-name {
  top: 0px;
  left: 0px;
  position: 0px;
  align-self: center;
}
.username-root-class-name1 {
  top: 0px;
  left: 0px;
  position: 0px;
  align-self: center;
}
@media(max-width: 991px) {
  .username-hero-heading {
    text-align: center;
  }
}

.userplant-container {
  width: 535px;
  height: 385px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.userplant-image {
  top: -16px;
  left: 58px;
  width: 420px;
  height: 429px;
  position: absolute;
  object-fit: cover;
}


.index-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #D9D9D9;
}
.index-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.index-navbar-interactive {
  height: 96px;
  padding-bottom: 21px;
}
.index-logo {
  top: 26px;
  left: 0px;
  color: rgb(66, 169, 9);
  right: 0px;
  width: var(--dl-size-size-large);
  margin: auto;
  position: absolute;
  font-size: 2em;
  align-self: center;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.index-desktop-menu {
  top: 31px;
  flex: 1;
  right: 48px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
}
.index-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.index-burger-menu {
  display: none;
}
.index-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.index-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.index-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.index-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.index-links {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.index-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-nav22 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-nav32 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-nav42 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-nav52 {
  margin-bottom: var(--dl-space-space-unit);
}
.index-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.index-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.index-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.index-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.index-hero1 {
  align-items: center;
  padding-top: 42px;
  justify-content: center;
}
.index-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 645px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.index-hero-sub-heading {
  font-size: 18px;
  text-align: center;
}
.index-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 582px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.index-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.index-navlink {
  display: contents;
}
.index-features-heading {
  color: #42a909;
  font-size: 35px;
  font-family: "Hind";
  font-weight: 600;
  line-height: 150%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: underline;
}
.index-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.index-container3 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
@media(max-width: 991px) {
  .index-hero1 {
    flex-direction: column;
  }
  .index-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .index-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .index-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .index-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-desktop-menu {
    display: none;
  }
  .index-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .index-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-nav22 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-nav32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-nav42 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-nav52 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .index-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .index-container3 {
    grid-template-columns: 1fr;
  }
}
@media(max-width: 479px) {
  .index-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .index-mobile-menu1 {
    padding: 16px;
  }
  .index-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .index-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .index-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
