<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P5 Fullscreen Garden</title>
    <style>
      body { margin: 0; overflow: hidden; } /* Hide browser scrollbars */
    </style>
  </head>
  <body>
    <!-- Load p5 library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>
    <!-- Load garden script -->
    <script>
        let angle = 30

function setup() {
    angleMode(DEGREES)
    // get browser window width and height
    windowWidth = window.innerWidth
    windowHeight = window.innerHeight
    createCanvas(windowWidth, windowHeight);
    background(33);

    // request the l-system garden from the server
    // comma delimited list of plant strings
    // fetch('/get_garden').then(response => response.text()).then(data => {
        // parse the response
        //plants = data.split(',');
        //drawGarden(plants, windowWidth, windowHeight)
    //})
    let plants = {{plants}}
    let users = {{users}}
    console.log("PLANTS", plants)
    console.log("USERS", users)
    drawGarden(plants, users, windowWidth, windowHeight) 
}

function drawGarden(plants, users, width, height) {
    // draw each l-system plant in a dynamically-sized grid
    // bsaed on the number of plants and the window size
    let numPlants = plants.length;
    let numRows = Math.ceil(Math.sqrt(numPlants));
    let numCols = Math.ceil(numPlants / numRows);
    let plantWidth = width / numCols;
    let plantHeight = height / numRows;
    let x = 0;
    let y = 0;
    let padX = plantWidth / 2
    let padY = plantHeight

    for (let i = 0; i < plants.length; i++) {
        let plant = plants[i];
        let user = users[i];
        let button = createButton(user);
        button.position(x + padX * 0.70, y + padY * 0.90);
        button.callback = () => userPage(user);
        button.mousePressed(button.callback);
        drawPlant(plant, x + padX, y + padY, plantWidth, plantHeight);
        x += plantWidth;
        if (x >= width) {
            x = 0;
            y += plantHeight;
        }
    }
}

function userPage(str) {
    console.log("REDIRECTING TO USR", str)
    window.location.href = "/garden/" + str
}

function drawPlant(plant, x, y, w, h) {
    // draw the plant with p5.js
    // set the stroke color to green
    stroke(0, 255, 0)

    // set the stroke weight to 2
    strokeWeight(2)

    // length of each line segment as a fn of width and height
    // let len = Math.min(w, h) / ((log(plant.length) + 1) ** 2)
    let fcount = plant.match(/F/g).length
    let len = Math.min(w, h) / (log(fcount) + 1) ** 2

    push()
    
    // translate to the grid position
    translate(x, y)
    for (let i = 0; i < plant.length; i++) {
        let current = plant[i];

        switch (current) {
        case 'F':
            line(0, 0, 0, -len);
            translate(0, -len);
            break;
        case '+':
            rotate(angle);
            break;
        case '-':
            rotate(-angle);
            break;
        case '[':
            push();
            break;
        case ']':
            pop();
            break;
        default:
            break;
        }
    }

    pop()
}

function draw() {
    
}

    </script>
  </body>
</html>
